<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
	</configSections>
	<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
		<session-factory>
			<property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
			<property name="connection.connection_string">
				Database=erronka_2mg3;Port=3307;Data Source=localhost;User Id=root;Password=IVIYUSAN1961;
				Old Guids=True;
			</property>
			<property name="dialect">NHibernate.Dialect.MySQL5Dialect</property>
			<property name="show_sql">true</property>
			<mapping assembly="erronka_2mg3_app" />
		</session-factory>
	</hibernate-configuration>
</configuration>